<div class="container">
  <form [formGroup]="contact" (ngSubmit)="onSubmit()">
    <div class="mb-3 form-group">
      <label for="name" class="form-label" name="name">Nombre y Apellido</label>
      <input type="text" class="form-control" id="name" formControlName="fullname">
    </div>
    <div class="mb-3 form-group">
      <label for="email" class="form-label">Correo electrónico</label>
      <input type="email" class="form-control" id="email" aria-describedby="emailHelp" formControlName="email">
    </div>
    <div class="mb-3 form-group">
      <select class="form-select" aria-label="Default select example" formControlName="issue">
        <option selected>Motivo</option>
        <option value="1">Contratación</option>
        <option value="2">Reclamo</option>
        <option value="3">Otro</option>
      </select>
    </div>
    <div class="mb-3 form-group">
      <label for="message" class="form-label">Mensaje</label>
      <textarea class="form-control" id="message" rows = "5" formControlName="message"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Enviar</button>
  </form>
  <div *ngIf="submitted">El mensaje ha sido enviado</div>
</div>
