section#intro {
  display: flex;
  align-items: center;
  position: relative;
  width: 900px;
  height: 480px;
  margin: 0 auto -32px;
  padding: 48px 0 0;
  color: #444;
}

section#intro .hero-logo {
  display: flex;
}

section#intro .hero-logo img {
  border-radius: 50%;
}

section#intro .homepage-container {
  width: 100%;
  max-width: 1040px;
  margin: -7% auto 0;
  padding-top: 0;
  padding-bottom: 0;
}

section#intro {
  display: flex;
  align-items: center;
  position: relative;
  width: 900px;
  height: 480px;
  margin: 0 auto -32px;
  padding: 48px 0 0;
  color: #444;
}

section#intro .hero-headline {
  font-size: 40px;
  font-size: 1.5rem;
  line-height: 2.4rem;
  font-weight: 500;
  margin: 32px;
}
