<div class="container">
  <section id="intro">
    <!-- LOGO -->
    <div class="hero-logo">
      <img src="assets/images/ansel-adams.jpg" alt="Ansel Adams" width="250" height="250">
    </div>
    <!-- CONTAINER -->
    <div class="homepage-container">
      <div class="hero-headline no-toc">“El componente más importante de una cámara<br>está detrás de ella”. Ansel Adams</div>
    </div>
  </section>
</div>
