<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a id="brand" class="navbar-brand" [routerLink]="['/']">Paisajes</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" [routerLink]="['/about']">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/works']">Porfolio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/contact']">Contacto</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>
